<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="EN">
  <head>
    <style>
      html,body {
      height: 99%;
      width: 99%;
      }
      #map {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      }
      </style>
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
    <script src="http://proj4js.org/lib/proj4js.js"></script>
    <script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
    <script>
    var map, vectors, f;
    var expiredays = 7;
  
    var ll, ur;
    var epsg4326, epsg900913;
    var selectControl;
    var foobar;
    var control;


    // debug variables 
    var debug1;



    // selection of checkout adapted from openlayers/examples/custom-control.html

// taken from http://docs.openlayers.org/library/overlays.html

function onPopupClose(evt) {
    // 'this' is the popup.
    control.unselect(this.feature);
}
function onFeatureSelect(evt) {
    feature = evt.feature;
    foobar = feature.geometry;
    var zoom = map.getZoomForExtent(feature.geometry.bounds);
    var lonlat = feature.geometry.getBounds().getCenterLonLat();
    lonlat2 = lonlat.clone();
    lonlat2.transform(new
    OpenLayers.Projection("EPSG:900913"), new OpenLayers.Projection("EPSG:4326"));
    var lon = lonlat2.lon;
    var lat = lonlat2.lat;

    popup = new OpenLayers.Popup.FramedCloud("featurePopup",
                             feature.geometry.getBounds().getCenterLonLat(),
                             new OpenLayers.Size(100,100),
                             '<h2>Cell ' + feature.attributes.id +
                             '</h2><a target="_blank" href="http://geonerd.org/editor/potlatch2.html?grid=blah&zoom='
                             + zoom + '&lon=' + lon + '&lat=' + lat +
                             '" >Edit</a>', null, true, onPopupClose);
    feature.popup = popup;
    popup.feature = feature;
    map.addPopup(popup);
}
function onFeatureUnselect(evt) {
    feature = evt.feature;
    if (feature.popup) {
        popup.feature = null;
        map.removePopup(feature.popup);
        feature.popup.destroy();
        feature.popup = null;
    }
}
/////////



    function init() {
           epsg900913 = new OpenLayers.Projection("EPSG:900913");
           epsg4326 = new OpenLayers.Projection("EPSG:4326");


              map = new OpenLayers.Map ("map", {
                controls:[
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.Attribution(),
                    new OpenLayers.Control.LayerSwitcher(),
                    new OpenLayers.Control.ScaleLine(),
                    new OpenLayers.Control.Permalink('permalink'),
                    new OpenLayers.Control.MousePosition(),
                    new OpenLayers.Control.OverviewMap(),
],
                   
                maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                maxResolution: 156543.0399,
                numZoomLevels: 19,
                units: 'm',
                projection: new OpenLayers.Projection("EPSG:900913"),
                displayProjection: new OpenLayers.Projection("EPSG:4326")
            } );

      osm_mapnik = new OpenLayers.Layer.OSM.Mapnik("Mapnik");
 
      task = new OpenLayers.Layer.Vector("Task", { projection: new OpenLayers.Projection("EPSG:900913") }); 
      task.events.on({ 'featureselected': onFeatureSelect, 'featureunselected': onFeatureUnselect});


 
      

  
      control = new OpenLayers.Control.SelectFeature(task);
      map.addControl(control);
      map.addLayer(osm_mapnik);
      map.addLayer(task);


      control.activate();

    OpenLayers.loadURL("/api/0.1/task/{{ t.id }}.json", {}, null, function(r) {
        var p = new OpenLayers.Format.GeoJSON();
        f = p.read(r.responseText);
        task.addFeatures(f);
        map.zoomToExtent(task.getDataExtent());
     });

    }

    function checkout() {
      //alert("checkout");

     if ($('id_checkout').value == "") { 
       alert('You need to select a bounding box to checkout');
     }
     else {
       // send the bounding box to the server 
       // this should make sure the bounding box is valid 
       // create an ajax call to get the bounding box
       // if it has been successful add the checkout to the 
       // vector layer 
   
      
      var url = "/api/0.1/checkout";

      var params = {'bbox': $('id_checkout').value}

      function handler(request) {
        // alert(request.responseText);
        //alert(request.status);
        
        if (request.status == 200) {
          // the request was succesfull
          var id = parseInt(request.responseText.split(":")[1].trim()); 
	  // pull the vector back from the id and add it to the map 	
			    
     OpenLayers.loadURL("api/0.1/task/" + id + ".json", {}, null, function(r) {
        //alert(r.responseText);
        // debug1 = r;
        var p = new OpenLayers.Format.GeoJSON();
        var f2 = p.read(r.responseText);
        //debug1 = f2;
        vectors.addFeatures(f2);
      });

         }
      }
      OpenLayers.Request.GET({ url: url, params: params, callback: handler });
     }
    }

    function deleteFeature() {
      // get the selected feature and delete it 
      var f = vectors.selectedFeatures[0]
      
     // make a call to delete teh featuer id 
     // needs to use the DELETE part of ReST
  
     url = "/api/0.1/task/" + f.data.id 
			    
     var handler = function(request) { 
        // alert('deleted feature')
        if (request.status == 200) {
           // it was deleted successfully 
           // remove it from the vector layer 
           // alert(f.data.id);
	   vectors.removeFeatures([vectors.selectedFeatures[0]]);
           return;
        }
        
        if (request.status == 401) {
           alert('You are not authorized to delete, try canceling your checkin');
	   return;
        }
         
        alert('Unknown error occured. Please contact administrator');       
         
     }

     OpenLayers.Request.DELETE({ url: url, callback: handler } );
    
     }



</script>

    </head>
  <body onload="init()">
    <h1>OSM Tasking Server</h1>
    <h2>{{ t.title }} - {{ t.description }}</h2>


     
    <div id='map'></div>
    </body>
</html>
