<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="EN">
  <head>
    <style>
      html,body {
      height: 99%;
      width: 99%;
      }
      #map {
      width: 100%;
      height: 100%;
      border: 1px solid black;
      }
      </style>
    <script src='http://openlayers.org/api/OpenLayers.js'></script>
    <script src='/media/proj4js/lib/proj4js.js'></script>
    <script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
    

    <script>

    var map, vectors, f;

    var expiredays = 7;
    var cookiename = "osmdefaultlocation";
    var ll, ur;
    var epsg4326, epsg900913;



    // selection of checkout adapted from openlayers/examples/custom-control.html


 var control = new OpenLayers.Control();
                OpenLayers.Util.extend(control, {
                    draw: function () {
                        // this Handler.Box will intercept the shift-mousedown
                        // before Control.MouseDefault gets to see it
                        this.box = new OpenLayers.Handler.Box( control,
                            {"done": this.notice},
                            {keyMask: OpenLayers.Handler.MOD_SHIFT});
                        this.box.activate();
                    },

                    notice: function (bounds) {
                        ll = map.getLonLatFromPixel(new OpenLayers.Pixel(bounds.left, bounds.bottom)); 
                        ur = map.getLonLatFromPixel(new OpenLayers.Pixel(bounds.right, bounds.top)); 
                       // convert to 4326 bounds
                       ll.transform(epsg900913, epsg4326);
                       ur.transform(epsg900913, epsg4326);

                       bbox =  ll.lon.toFixed(4) + ", ";   
                       bbox += ll.lat.toFixed(4) + ", "; 
                       bbox += ur.lon.toFixed(4) + ", "; 
                       bbox += ur.lat.toFixed(4);

                       $('id_checkout').value = bbox;

                       
                       
                    }
                });



    // cookie functionality adapted  from 
    // http://openlayers.org/pipermail/users/2010-February/016446.html
    // permalink should supersede the cookie


     // === Set the cookie before exiting ===
      function setCookie() {
    mapcenter = new OpenLayers.LonLat(map.getCenter().lon,
map.getCenter().lat);
        var cookietext =
cookiename+"="+mapcenter.lat+"|"+mapcenter.lon+"|"+map.getZoom();
        if (expiredays) {
          var exdate=new Date();
          exdate.setDate(exdate.getDate()+expiredays);
          cookietext += ";expires="+exdate.toGMTString();
        }
      document.cookie = cookietext;    
      // show the user that the cookie was set 
      $('id_status').value = 'Cookie set successfully';

      }

    function checkCookie() {
//      console.log('checking cookie');
      
      if (document.cookie.length>0) {
        var c_list = document.cookie.split(';');

        for (var i = 0; i < c_list.length; i++) {
         //console.log(c_list); 
         var c = c_list[i].trim().split("=");
         //console.log(c);
         if ( c[0] == 'osmdefaultlocation') {
            //console.log("found default location");
           bits = c[1].split("|");
           lat = parseFloat(bits[0]);
           lon = parseFloat(bits[1]);
           zoom = parseInt(bits[2]);
  
           //console.log(lat + " " +  lon + " " + zoom );
           //console.log('trying to set the center');
           map.setCenter(new OpenLayers.LonLat(lon, lat), zoom);
         }
        }
      }
  }
     


    function init() {
           epsg900913 = new OpenLayers.Projection("EPSG:900913");
           epsg4326 = new OpenLayers.Projection("EPSG:4326");


              map = new OpenLayers.Map ("map", {
                controls:[
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.Attribution(),
                    new OpenLayers.Control.LayerSwitcher(),
                    new OpenLayers.Control.ScaleLine(),
                    new OpenLayers.Control.Permalink('permalink'),
                    new OpenLayers.Control.MousePosition(),
                    new OpenLayers.Control.OverviewMap(),
                    // new OpenLayers.Control.NavToolbar(),
//                    new OpenLayers.Control.ZoomIn()
],
                   
                maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                maxResolution: 156543.0399,
                numZoomLevels: 19,
                units: 'm',
                projection: new OpenLayers.Projection("EPSG:900913"),
                displayProjection: new OpenLayers.Projection("EPSG:4326")
            } );

      osm_mapnik = new OpenLayers.Layer.OSM.Mapnik("Mapnik");
      vectors = new OpenLayers.Layer.Vector("Checkout", { projection: new OpenLayers.Projection("EPSG:900913") });      
      v_completed = new OpenLayers.Layer.Vector("Completed", { projection: new OpenLayers.Projection("EPSG:900913") });
      

      map.addControl(control);
      map.addLayer(osm_mapnik);
      map.addLayer(vectors);
      map.addLayer(v_completed);
      map.zoomToMaxExtent();

      // see if there is a cookie that has the default location
      checkCookie();


    OpenLayers.loadURL("api/0.1/tasks.json", {}, null, function(r) {
        var p = new OpenLayers.Format.GeoJSON();
        f = p.read(r.responseText);
        vectors.addFeatures(f);
      });

        

    }

    </script>

    </head>
  <body onload="init()">
    <h1>OSM Tasking Server</h1>

    Hold down <b>SHIFT</b> to select a bounding box area for checkout | 
    Bounding Box: <input style="width:300px" id="id_checkout" type="text" value="" />
    <!-- This will store a cookie which will go to the location first time 
	 this page is loaded -->
    <input type="button" value="Save Default Location" onclick="setCookie()" />
    Status: <input id="id_status" type="text" value="" />

      

    <div id='map'></div>
    </body>
</html>



